
<!-- non-auto Closing Navbar for large screens -->
<nav class="d-none d-lg-block navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img width="50" src="https://i.imgur.com/qwE5odf.png" /></a>
    <button class="navbar-toggler glow-on-hover" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/skillsets">Skill Sets</a>
        </li>
        <li class="nav-item" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/works">Works</a>
        </li>
        <li class="nav-item" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- auto closing nav-bar for some screens -->
<nav class="d-block d-lg-none navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img width="50" src="https://lh3.googleusercontent.com/mVmHIqpnliQf_8J0u8WTr69a069XLyOWAz2T0sWKLT76A9cYCcC4eWcP2NQPB1QOuNjmtlPBvg9YQnip7_HnLMqiOXNKb848jAR9UgTuuWvFB7E6-swLkqpR7Vsk7jZKtj8I3gED3jqKxZL6hf684pTWe9Hq0Br1QJWSEihwn8ZRCJbkl85RENgxEnwGdTe39bqQyBH2XgZ1A9JJvzck4puCb-C6Hs1lNoA9DxXkbcMQsedBaSvgg_qM3MKMiF61Hw5HdxlnN85YDpinnkvIkjud53ap1dMJ4qmi325hGzULG2jpME51b1kiaRIZ4Pur4K88_0Y-sHlgVJF1-3U3uPRZaCI-Nry-nizxjk1ArbHmOUoiPcYjHyXOQC8dE8X6t_F5eIwf-JbQatjMl5egCs-ejhw9qB38agvTTURY20eE22dQjPglBNrJp1Sy43DsoQCfixcxXBRwzxweHcyC-HGeYgtJsdA5dHnkojqwLpEBbtWL3G7-zxu9yZONTEf_SlwaQfjjLC908dyW-Z_Ch6OZQHT2w69RbR7K_wPBMdO7Mq5EsEm_yl1BaYlSm0yDzaDdA5KgzyD8GNJnKzVVtcBslGUPt7LlRQbLp4qGQpDPmQYw4Oy7BDQZuasVm9b2jC6VLuONNLf-sY4t5Mdf_V0ZRVc2A4NshYeGtsjiaRrxMKLMe5pYaVHiDyg_=s200-no" alt="logo"></a>
    <button class="navbar-toggler glow-on-hover" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/skillsets">Skill Sets</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/works">Works</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarSupportedContent" routerLinkActive="active-nav">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
