<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <img class="rounded-circle profilepic"
        src="https://lh3.googleusercontent.com/yrBFY6lggMS9-DLDW6swIr-3tqCMKzY0oqVErm-Qf5vXoHSkYpti_2gC8tSWA9CskI3dTV77-Ev3WTWH1Ce4yyKYhAl70ZGW6XC4nqeia689ZlPyoRhYd8ksQ0-Jhgj76UoDfblgDxNdTSbhR-VdfoddzBvE5hYHsU-sp2GIvV9Ae9rEvOsmRFD3kEAnK7-pmLediGp6RYiJim2GoHEO71fgr9IwOWsARg81hGuLdaYlGotIhtQGXDTPJiVvzUlyD9pO4Cr16zLOy28YeR2B_pdlwkq8b33s0RL0IasQDtHs0CcjAWWXGMCgicxK9Fp9zwLxo69738faKTtItfMUcswSGveUlLLcKWRmbf9416o_2gj49do6Oy1mKeaOq1F806ktlLLjXiw5ptns3t6EfmD7SAQPA6781Y-VXrtVVHBXZ3Nw096Gfq2Ft50O2KYgBuLHk77qZepXbt2UibmO5gA_o9kkJscGY7TsMHgXPBveWfeSjDV3mo70T54Eb2wgymv3qpavK77fGJnl9flUX8rWyV86BZUlCz4LCSRkZ7pf66dwFXIZUoc2qIafefR1dQq5HACjaaAoF2BRzeYCprbaZulajGCGZlbdvSsG8F5VsYAYTShQXtZCeTOcwFmbNs6e8OxtXoMnCA2mjE9ydc-tR4svXXCm8EI7zFl6Vpd9HxnasAxxCUeiJRV2=w942-h943-no"
        alt="Profile Picture">
      <br>
    </div>
    <div class="col-12 col-md-8">
      <h1>Web Development</h1>
      <h2>Junior Front End</h2>
      <blockquote class="blockquote quote-card">
        <p class="mb-0"><span class="quotemark">“</span> A good website charms the customer into interacting with it at the first glance. Love at first click~ <span class="quotemark">”</span></p>
      </blockquote>
    </div>
  </div>
  <div class="container text-center">
    <button class="glow-on-hover" type="button">See My Résumé</button>
  </div>
  <br>
  <div class="container contactbody">
    <div class="container-fluid text-center">
      <h2 id="contact-title">Contact Info</h2>
      <hr class="bg-light max-width">
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="lead"><strong>Aung Kaung Khant</strong></p>
        <p><i class="fa fa-briefcase"></i> Front-end Developer</p>
        <p class="gmail"><i class="fas fa-mail-bulk"></i> dragon.takao21@gmail.com</p>
        <p><i class="fas fa-location-arrow"></i> Lanmadaw, Yangon, Myanmar</p>
        <p><i class="fas fa-phone-square"></i> 09-95-550-1280</p>
        <hr class="d-sm-block d-md-none">
      </div>
      <div class="col-12 col-md-6 socialmedia">
        <h3>Find Me On: </h3>
        <a class="github" href="https://github.com/Takao21" target="_blank"><i class="fab fa-github"></i> GitHub</a><br>
        <a class="linkedin" href="https://www.linkedin.com/in/aung-kaung-khant-67039a158/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
        <a class="facebook" href="https://www.facebook.com/ayanokoji.akk" target="_blank"><i class="fab fa-facebook"></i> Facebook</a><br>
        <a class="instagram" href="https://www.instagram.com/joichiro_takao/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a><br>
      </div>
    </div>
  </div>
  <br>
</div>
