@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);

.profilepic {
  width: 100%;
  height: auto;
}

.quote-card {
  font-size: 1.2em;
  color: #777;
}
.quotemark {

  line-height: 1em;
  font-family: Georgia, serif;
  font-size: 2em;
  color: #000;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #156481;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.max-width {
  width: 100%;
}
#contact-title {
  color: #999;
}
.socialmedia {
  line-height: 2.5em;
}
.socialmedia a {
  cursor: pointer;
}
.github {
  color: #333;
}
.linkedin {
  color: #0077b5;
}
.facebook {
  color: #3b5998;
}
.instagram {
  color: #c13584;
}
.socialmedia a:hover {
  position: relative;
  bottom: 2px;
  text-shadow: 1px 2px 4px black;
  color: #fff;
}
