.introbody {
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.imgur.com/xng44rr.jpg);
    background-size: cover;
    background-color: #000;
    background-position: right;
}
.mainbody {
  color: white;
  text-shadow: 1px 0px 2px white, -1px 0px 2px white, 0px 1px 2px white, 0px -1px 2px white;
}
.mainbody h1 {

}
.yesbody {
  color: white;
  text-shadow: none;
  font-size: 3em;
  font-family: monospace;


  animation: tempting 1s linear infinite;
  animation-direction: alternate-reverse;
}
@keyframes tempting {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 2px 0px 4px white, -2px 0px 4px white, 0px 2px 4px white, 0px -2px 4px white;
  }
}
.yesbody span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sequel {
  font-size: 2em;
}
.sequel-item, .prequel {
  transition: opacity 1s ease-out 1.5s;
  opacity: 0;
}
