.introbody {
    position: fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(https://lh3.googleusercontent.com/V4vmaKZ9rtUvEkosPoMUb_pS542biCpXZhE63wRGywbdtCSOVmeEGiKNUsKL5l5yLtXakST4x41ovSJpieJ5aWsO0Z0fAGp5-VAp110n8VrIWCkv-WMB5ttZTgVhFxMuNDSO0w5soa83gWo4blUMcS--GyNYOvNkLWxVQPQ6pdHJmetU9tTvSj1EhvXghot3E2_-FVw7dJbMKgyfD6D4OYsW0gy86jqGuDkFOgwXRnE11v2-2SU-sBjhr7oPT2mQGFMZ871Gtad96cfpWV3ib0CXG6gSXi1cHvD_oOE2BxNC7W28egmCKrSr0ACFyQCpmyOC2JJY3KPEbiKnSxrbWOGioOmcK_yzpS1mFkS8PUQnh5DKrFgoD1aPDwKewrRUxLZSAhdnwkNgOn-tjNOR5ed_16HTUEyHIhKWAxHYuoVtJoXpFMXdkzKrwaSTXNQx3MIH48c1fBnnY9qyI_f-m8nL9rs0aB3S9R8__8qSbMeQLJalHHWR7LfMv67aB4F34INauO1f2j91tJnwTKpt6Club8VA5EGSEqthOv9byaGLKkd3HG5NUaFaj6HS8fZi_39hk__aQVoLbpG3N8OkaL9vPkQB5dhBaNtoyZwnUQmE8vf2LYHgZvehjaOFUOanDIHQ5WuTBaWKo_YfvEh5lIccMZ3iFfyVhOXtrsX2YBsHI_Q_ET8hy2DAgscx=w1570-h883-no);
    background-size: cover;
    background-color: #000;
    background-position: right;
}
.mainbody {
  color: white;
  text-shadow: 1px 0px 2px white, -1px 0px 2px white, 0px 1px 2px white, 0px -1px 2px white;
}
.mainbody h1 {

}
.yesbody {
  color: white;
  text-shadow: none;
  font-size: 3em;
  font-family: monospace;


  animation: tempting 1s linear infinite;
  animation-direction: alternate-reverse;
}
@keyframes tempting {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 2px 0px 4px white, -2px 0px 4px white, 0px 2px 4px white, 0px -2px 4px white;
  }
}
.yesbody span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sequel {
  font-size: 2em;
}
.sequel-item, .prequel {
  transition: opacity 1s ease-out 1.5s;
  opacity: 0;
}
