<div class="introbody">
  <div class="container-fluid mainbody text-center">
    <h1 class="prequel">They say...</h1><br>
    <h1 class="prequel">"Curiosity is the mother of inventions".</h1><br>
    <h1 class="prequel">Are you curious?</h1>
    <div class="container yesbody text-center">
      <span class="prequel" (click)="playSequence()" id="yesBtn">YES</span>
    </div>
    <br>
    <div class="container sequel">
      <p class="sequel-item">Perfect...</p>
      <p class="sequel-item">Absolutely perfect...</p>
      <br>
      <p class="sequel-item">Welcome to my portfolio.</p>
    </div>
  </div>
</div>
