/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
  padding-top: 5em;
  background-image: radial-gradient(at top left, #EFF4FC, #EFF3FC);
  font-size: 100%;
}

html {
  font-size: 1rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    font-size: 1rem;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  html {
    font-size: 1.1rem;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 1.2rem;
  }
}
