<img src="https://www.w3schools.com/howto/img_avatar.png" id="avatar" class="rounded mx-auto d-block" alt="avatar" width="200" height="200">
<div class="container-fluid text-center">
  <div class="row">
    <p id="main-p" class="col-md-10 offset-md-1">Proficient in english, thus, helped me to study the career I love on my own. I'm very passionate about what I do and gifted in digital technology. I'm constantly improving my web development
      skills with modern frameworks and languages. I'm currently studying Discrete Mathematics to enhance my programming skills. I prefer to work remotely. Respectful and willing to learn. Would love to work with people that have a great vision on
      the future of web technologies.</p>
  </div>
</div>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <h4>Developer's Background</h4>
      <ul class="timeline">
        <app-timeline-item></app-timeline-item>
      </ul>
    </div>
  </div>
</div>
